@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');

* {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.hamburger-show {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0A0A0A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 4;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    font-weight: 300;
    margin-left: 50px;
}

.fadeIn {
    background-color: #E0DFE0;
    box-shadow: 8px 4px 30px rgb(10, 10, 10, 0.09);
}

.fadeIn02 {
    opacity: 1;
    text-shadow: 8px 4px 30px rgb(95, 95, 95, 0.5);
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 0 3%;
    position: fixed;
    transition: all ease-out .4s;
    z-index: 3; 
}

nav {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    white-space: nowrap;
}

.nav-links {
    margin-bottom: 0px;
}

.nav-click {
    text-decoration: none;
    color: #0A0A0A;
    padding: 2.3px 10px;
    border-radius: 8px;
    transition: 0.35s;
}

.nav-click:hover {
    background-color: hsla(213, 76%, 8%, 0.925);
    border-radius: 8px;
    color: #DDD;
}

li, a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.cabecalho-logo {
    width: auto;
    height: 78px;
    pointer-events: none;
}

.cabecalho-line {
    height: 57px;
    width: 3px;
    margin-left: 30px;
    pointer-events: none;
}

.button {
    background-color: #0A0A0A;
    border: none;
    border-radius: 30px;
    color: #E0DFE0;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    white-space: nowrap;
    transition: 0.5s ease 0s;
}

.button:hover {
    /* transform: scale(1.001); */
    background-color: hsla(213, 76%, 8%, 0.925);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

#remove {
    text-decoration: none;
    /* color: #0A0A0A; */
}

body {
    display: flex;
    flex-direction: column;
}

.whats-chat {
    position: fixed;
    width: auto;
    height: 50px;
    border-radius: 50%;
    right: 1%;
    bottom: 3%;
    z-index: 3;
    opacity: 0;
    transition: 0.5s ease 0s;
}

.whats-chat:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 12px rgba(22, 127, 92, 0.532);
}

#text-with {
    width: 55%;
}

.principal-text {
    color: #0A0A0A;
    font-weight: bold;
    padding: 0 3%;
    word-break: normal;
}

.secundario-text {
    font-size: 24px;
    color: #0A0A0A;
    font-weight: 600;
    padding: 2% 3%;
    padding-bottom: 0px;
    word-break: normal;
}

.details-text-area {
    font-weight: 500; 
    font-size: 23px;
    padding-left: 2%;
    white-space: nowrap;
}

.details-text {
    font-size: 28px;
    color: #0A0A0A;
    font-weight: 600;
    padding: 2% 3%;
    padding-bottom: 0px;
    word-break: normal;
    /* align-self: center; */
}

.details-header-text {
    margin: 20vh 0 5% 0;
    font-size: 60px;
}

.details-text-02 {
    margin: 20vh 0 5% 0;
    font-size: 60px;
}

#secHome {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-ret {
    position: absolute;
    width: 35%;
    height: 100%;
    right: 0px;
    top: -3px;
    z-index: -1;
    background-color: #5F5F5F;
    border-bottom-left-radius: 50px;
}

.home-Image {
    position: absolute;
    width: 90vh;
    height: 80%;
    bottom: 3px;
    right: 0px;
    z-index: -1;
}

.home-Image02 {
    display: none;
}

.home-text {
    color: #0A0A0A;
    font-weight: bold;
    padding: 0 3%;
    text-shadow: 2px 2px 25px rgba(0, 0, 0, 0.144);
    display: none;
}

.home-ret02 {
    display: none;
}

.home-ret03 {
    display: none;
}

.home-Scroll {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 23%;
    bottom: 10%;
    border-radius: 50px;
    transition: 0.5s ease 0s;
    z-index: 0;
}

.home-Scroll:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

#secQuemSomos {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quemsomos-ret {
    position: absolute;
    max-width: 50%;
    z-index: -2;
    right: 0px;
    overflow: hidden;
}

#secProjetos {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.carosel {
    margin: 1% 0 3% 0;
}

.carosel-padding {
    padding: 2em 2em;
}

.carosel02 {
    width: 45%;
    margin: 1% 0 3% 0;
}

.carosel-padding02 {
    padding: 1em;
}

.carosel-text {
    color: #E0DFE0;
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    text-align: center;
    transition: 0.3s ease 0s;
}

.carosel-images {
    justify-self: center;
    width: 100%;
    height: 320px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
    box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 50px 0px;
    transition: 0.5s ease 0s;
}

.carosel-images:hover {
    transform: scale(1.007);
    box-shadow: 8px 4px 30px rgba(0, 0, 0, 0.4);
}

.carosel-images03 {
    justify-self: center;
    width: 25%;
    height: 500px;
}

.details-images {
    justify-self: center;
    width: 100%;
    max-width: 650px;
    height: 450px;
    box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 0 3% 3% 3%;
    align-self: center;
    transition: 0.5s ease 0s;
}

.ret-img {
    position: absolute;
    max-width: 40%;
    right: 20px;
    top: 255%;
    background: #5F5F5F;
    transform: rotate(37.09deg);
    z-index: -2;
    overflow: hidden;
}

#secCliente {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex{
    display: flex;
    margin: 0 3%;
}

.lg\:col-span-2{
    grid-column: span 2/span 2;
    grid-column-start: span 2;
    grid-column-end: span 2;
} 


.cliente-imagem {
    min-width: 400px;
    width: 30%;
    min-height: 400px;
    height: auto;
    margin-right: 3%;
}

#secFaleconosco {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#secDetailsScreen {
    width: 100%;
    min-width: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
}

.details-left {
    flex-direction: row-reverse;
    display: flex;
}

.details-left-02 {
    display: flex;
    flex-direction: row-reverse;
}

.details-right {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 100px 0;
}

.header-details-image {
    display: block;
    margin: 180px 0 0 0;
    align-self: center;
    width: 75%;
    height: 400px;
    background-size: cover;
}

.fale-conosco-image {
    position: relative;
    min-width: 400px;
    width: 40%;
    min-height: 300px;
    height: auto;
    right: 3%;
    z-index: -1;
}

.contato {
    width: 100%;
    max-width: 500px;
}

.formu {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.form {
    width: 80%;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
}

.field {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif 16px;
}

.textearea {
    height: 150px;

}

footer {
    background-color: #0A0A0A;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0A0A0A;
    padding: 5% 3%;

}

.footer-icon {
    width: 36px;
    margin: 10px 5px;
}

.footer-image {
    width: auto;
    height: 80px;
}

.footer-locus {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.text-test {
    display: flex;
    text-align: center;
}


/* Estilos para tablets */


@media screen and (max-width: 960px) {


    nav {
        display: none;
        flex-direction: row;
        margin-left: 3%;
        white-space: nowrap;
    }

    .nav-links {
        margin-bottom: 0px;
    }

    li, a {
        list-style: none;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
    }

    .cabecalho-logo {
        width: auto;
        height: 78px;
        pointer-events: none;
    }

    .button {
        background-color: #0A0A0A;
        border: none;
        border-radius: 30px;
        color: #E0DFE0;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 30px;
        white-space: nowrap;
        transition: 0.5s ease 0s;
    }

    .button:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    }

    #remove {
        text-decoration: none;
        color: #0A0A0A;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .whats-chat {
        position: fixed;
        width: auto;
        height: 50px;
        border-radius: 50%;
        right: 1%;
        bottom: 3%;
        z-index: 3;
        transition: 0.3s ease 0s;
    }

    .whats-chat:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 30px rgb(10, 10, 10, 0.4);
    }

    #text-with {
        width: 55%;
    }

    .principal-text {
        color: #0A0A0A;
        font-weight: bold;
        padding: 0 3%;
        word-break: normal;
    }

    .secundario-text {
        font-size: 24px;
        color: #0A0A0A;
        font-weight: 600;
        padding: 2% 3%;
        padding-bottom: 0px;
        word-break: normal;
    }

    .details-text {
        font-size: 23px;
        color: #0A0A0A;
        font-weight: 600;
        padding: 2% 3%;
        padding-bottom: 0px;
        word-break: normal;
    }

    #secHome {
        width: 100%;
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .home-ret {
        position: absolute;
        width: 35%;
        height: 100%;
        right: 0px;
        top: -3px;
        z-index: -1;
        background-color: #5F5F5F;
    }

    .home-Image {
        position: absolute;
        min-width: 400px;
        width: 80%;
        min-height: 300px;
        height: auto;
        bottom: 3px;
        right: 0px;
        z-index: -1;
    }

    .home-Image02 {
        display: none;
    }

    .home-text {
        color: #0A0A0A;
        font-weight: bold;
        padding: 0 3%;
    }

    .home-Scroll {
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: 23%;
        bottom: 10%;
        border-radius: 50px;
        transition: 0.5s ease 0s;
        z-index: 0;
    }

    .home-Scroll:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }

    #secQuemSomos {
        width: 100%;
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .quemsomos-ret {
        position: absolute;
        max-width: 50%;
        z-index: -2;
        right: 0px;
        overflow: hidden;
    }

    #secProjetos {
        width: 100%;
        min-height: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .carosel-padding {
        padding: 1em 1em;
    }

    .carosel-images:hover {
        transform: scale(1.007);
        box-shadow: 8px 4px 30px rgba(0, 0, 0, 0.4);
    }

    .carosel-images03 {
        display: flex;
        justify-self: center;
        width: 100%;
        height: 510px;
    }

    .ret-img {
        position: absolute;
        max-width: 40%;
        right: 20px;
        top: 255%;
        background: #5F5F5F;
        transform: rotate(37.09deg);
        z-index: -2;
        overflow: hidden;
    }

    #secCliente {
        width: 100%;
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cliente-imagem {
        position: relative;
        min-width: 350px;
        width: 40%;
        min-height: 00px;
        height: auto;
        z-index: -1;
    }

    #secDetailsScreen {
        width: 100vh;
        min-height: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details-images {
        width: 95%;
        min-width: 320px;
        min-height: 00px;
        height: auto;
        margin: 0 3% 3% 3%;
        z-index: -1;
    }

    .details-left {
        display: flex;
        flex-direction: column;
    }

    .details-left-02 {
        display: flex;
        flex-direction: column-reverse;
    }

    .details-right {
        display: flex;
        flex-direction: column;
    }

    #secFaleconosco {
        width: 100%;
        min-height: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15%;
    }

    .fale-conosco-image {
        position: relative;
        min-width: 320px;
        width: 40%;
        min-height: 00px;
        height: auto;
        right: 3%;
        z-index: -1;
    }

    footer {
        background-color: #0A0A0A;
    }

    .footer {
        display: flex;
        flex-direction: column;
        background-color: #0A0A0A;
        padding: 5% 0%;

    }

    .footer-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer-image {
        width: auto;
        height: 80px;
    }

}


/* Estilos para celular */


@media screen and (max-width: 619px) {

    .buttom-hide {
        display: none;
    }

    .hamburger-show {
        display: block;
        transition: 0.5s ease 0s;
    }

    .hamburger-show:hover {
        transform: scale(1.09);
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.8));
    }

    .cabecalho-logo {
        width: auto;
        height: 70px;
        pointer-events: none;
    }

    .whats-chat {
        position: fixed;
        width: auto;
        height: 50px;
        border-radius: 50%;
        right: 1%;
        bottom: 3%;
        z-index: 5;
        transition: 0.3s ease 0s;
    }

    .whats-chat:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 30px rgb(10, 10, 10, 0.4);
    }

    #text-with {
        width: 100%;
        padding: 3%;
    }

    .principal-text {
        color: #0A0A0A;
        font-weight: bold;
        padding: 0 3%;
        word-break: normal;
    }

    .secundario-text {
        font-size: 18px;
        color: #0A0A0A;
        font-weight: 600;
        padding: 2% 3%;
        padding-bottom: 0px;
        word-break: normal;
    }

    .details-text {
        font-size: 23px;
        color: #0A0A0A;
        font-weight: 600;
        padding: 2% 3%;
        padding-bottom: 0px;
        word-break: normal;
    }

    .details-text-area {
        font-weight: 500; 
        font-size: 20px;
        padding-left: 2%;
        white-space: nowrap;
    }

    .details-header-text {
        margin: 20vh 0 5% 0;
        font-size: 45px;
    }

    .details-text-02 {
        margin: 10px 0 5% 0;
        font-size: 45px;
    }

    .details-text-02 {
        margin: 10px 0 5% 0;
        font-size: 45px;
    }

    #secHome {
        width: 100%;
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center;  */
        /* align-items: flex-start; */
    }

    .home-ret {
        display: none;
    }

    .home-Image {
        display: none;
        position: absolute;
        min-width: 400px;
        width: 100%;
        min-height: 300px;
        height: auto;
        bottom: 5vh;
        right: 0;
        right: 0px;
        z-index: -1;

        border-radius: 0px 0px 0px 6px;
    }

    .home-Image02 {
        display: flex;
        position: absolute;
        min-width: 291px;
        width: 100%;
        min-height: 35vh;
        height: auto;
        bottom: 0;
        right: 0px;
        opacity: 0;
        z-index: -1;

        border-radius: 0px 0px 0px 6px;
    }

    .home-text {
        width: 90%;
        font-size: 30px;
        color: #0A0A0A;
        font-weight: bold;
        text-align: center;
        align-self: center;
        margin-top: -50%;
        padding: 0 3%;
    }

    .home-ret02 {
        display: block;
        position: absolute;
        width: 424px;
        height: 210px;
        left: -180px;
        top: 40%;
        opacity: 0;
        z-index: -2;

        background: linear-gradient(254.73deg, #E9E9E9 39.28%, rgba(233, 233, 233, 0.66) 96.12%);
        border-radius: 12px;
        transform: rotate(133.11deg);
    }

    .home-ret03 {
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        left: 50%;
        top: 20%;
        opacity: 0;
        z-index: -2;

        background: linear-gradient(180deg, #E9E9E9 0%, rgba(233, 233, 233, 0) 100%);
        border-radius: 50px;
    }

    .home-Scroll {
        position: absolute;
        width: 45px;
        height: auto;
        margin: 0 47%;
        bottom: 3.1%;
        border-radius: 50px;
        transition: 0.5s ease 0s;
        z-index: 0;
    }

    .home-Scroll:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }

    #secQuemSomos {
        width: 100%;
        min-height: 90vh;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .quemsomos-ret {
        display: none;
        position: absolute;
        max-width: 50%;
        z-index: -2;
        right: 0px;
        overflow: hidden;
    }

    #secProjetos {
        width: 100%;
        min-height: 90vh;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .carosel-padding {
        padding: 1em 1em;
    }

    .carosel-images:hover {
        transform: scale(1.007);
        box-shadow: 8px 4px 30px rgba(0, 0, 0, 0.4);
    }

    .carosel02 {
        width: 100%;
        margin: 1% 0 3% 0;
        border-radius: 50PX;
    }

    .carosel-images03 {
        display: flex;
        justify-self: center;
        width: 100%;
        height: 510px;
    }

    .ret-img {
        position: absolute;
        max-width: 40%;
        right: 20px;
        top: 255%;
        background: #5F5F5F;
        transform: rotate(37.09deg);
        z-index: -2;
        overflow: hidden;
    }

    #secCliente {
        width: 100%;
        min-height: 80vh;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .cliente-imagem {
        position: relative;
        min-width: 350px;
        width: 40%;
        min-height: 00px;
        height: auto;
        z-index: -1;
    }

    #secDetailsScreen {
        width: 100vh;
        min-height: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details-images {
        width: 95%;
        min-width: 320px;
        min-height: 00px;
        height: auto;
        margin: 0 3% 3% 3%;
        z-index: -1;
    }

    .details-left {
        display: flex;
        flex-direction: column;
    }

    .details-left-02 {
        display: flex;
        flex-direction: column-reverse;
    }

    .details-right {
        display: flex;
        flex-direction: column;
    }

    #secFaleconosco {
        width: 100%;
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15%;
    }

    .form {
        width: 100%;
        padding: 0 3%;
        display: flex;
        flex-direction: column;
    }

    .field {
        padding: 10px;
        margin-bottom: 15px;
        margin-right: 3%;
        border: 1px solid #DDD;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif 16px;
    }

    .textearea {
        height: 150px;

    }

    .fale-conosco-image {
        display: none;
    }

    
    .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-self: center;
        width: 100%;
        height: 50px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}